.first-page{
    background-image: url('../first-page.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius:50px; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 100vh;
   
    /* margin-top: 90px; */
    position: relative;
    background-color: rgba(82, 161, 251, 0.37);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    z-index: 400;
}
.first-page h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 128px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 225px;
    text-shadow: 0px 4px 8px #404040;
    text-align: center;
}
.first-page h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 127px;
    color:#0077FF;
    margin: 0 auto;
    margin-top: 10px;
    text-shadow: 0px 4px 8px #404040;
}
.first-page h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    text-shadow: 0px 1px 2px #404040;
    text-align: center;
    font-weight: 1;
}
.arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.arrow span{
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: 10px solid #0077FF;
    border-right: 10px solid #0077FF;
    transform: rotate(45deg);
    margin: -20px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
@media(max-width: 1281){
    .first-page{
        margin-top: 20px;
    }
}
@media(max-width: 1025px){
    .first-page h1{
        font-size: 100px;
    }
    .first-page h2{
        font-size: 99px;
    }
    .first-page h3{
        font-size: 30px;
    }
}
@media(max-width: 768px){
    .first-page h1{
        font-size: 90px;
    }
    .first-page h2{
        font-size: 89px;
    }
    .first-page h3{
        font-size: 30px;
    }
}
@media(max-width: 481px){
    .first-page h1{
        font-size: 50px;
    }
    .first-page h2{
        font-size: 49px;
    }
    .first-page h3{
        font-size: 20px;
    } 
}
@media(max-width: 320px){
    .first-page h1{
        font-size: 50px;
    }
    .first-page h2{
        font-size: 49px;
    }
    .first-page h3{
        font-size: 20px;
    }
}

