html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
	padding: 0;
  margin: 0;
  background-color: #f2f3f2;
  height: 100%;
  overflow: auto;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e7e7f3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='440' height='440' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.55'%3E%3Cpolygon fill='%23cbd4f4' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23cbd4f4' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}
section {
  position: relative;
  min-height: fit-content;
}
#TI{
  /* background-color: rgba(227, 232, 248, 0.336); */
  height: 90vh;
  padding-top: 90px; 
}
#TV{
  padding-bottom: 100px; 
}
#team{
  height: 150vh;
}
.h1-head {
  align-content: space-around;
  text-align: center;
  justify-self: center;
  font-family: 'Segoe UI', sans-serif;
  color: #0077FF;
  font-size: 70px;
  margin-top: 0;
}
@media(max-width: 1281px){
  .h1-head {
    font-size: 60px;
    margin-top: 0;
  }
}