html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0;
	background-color: #f2f3f2;
}
section {
  height: 134vh;
  min-height: fit-content;
}
#h1-white{
  color: #ffffff;
  padding-top:40px; 
}
#C{
  background-image: url('contact.png');
  background-color: rgb(0, 119, 255);
  background-blend-mode: overlay;
  height: 100vh;
  background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
  overflow: auto;
  position: relative;
}
/* https://www.svgbackgrounds.com/#flat-mountains */
#E{
  background-color: #f2f3f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2380cfa9' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%234c6663' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2383d3b7' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231e7178' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2389d8c4' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2300799a' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2391dbd0' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23007fc2' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%239bdfda' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23007fe7' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a7e2e3' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%230077ff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: inherit;
  background-size: cover;
}
#G{
  padding-top: 120px;
}
#E{
  padding-top: 120px;
}
#T{
  position: relative;
  padding-top: 120px;
}
.expand{
  margin-top: 5%;
  font-weight: bolder;
}
@media(max-width: 1281px) {
  section {
    height: 120vh;
  }
  .h1-head {
  font-size: 60px;
  margin-top: 0;
  }
}
@media(max-width: 1025px){
  section {
    height: 120vh;
  }
  .h1-head {
  font-size: 60px;
  margin-top: 0;
  }
  #E{
    height: 90vh;
  }
  #T{
    height: 90vh;
  }
  .expand{
    padding:2px;
  }
  .expand a{
    font-size: 20px;
  }
}

@media (max-width: 768px){
  #E{
   height: fit-content;
  }
  #T{
    height: 140vh;
  }
  .expand{
    /* margin-top: 20px; */
    font-size: 16px;
  }
  .expand a{
    font-size: 20px;
  }
}


@media (max-width: 481px){
  .expand{

    font-size: 16px;
  }
  .expand a{
    font-size: 20px;
  }
}



